@{
    Layout = null;
}
@model MerchantTribeStore.Models.SingleProductViewModel
@if (Model.IsLastItem == true) 
{
    <text><div class="record lastrecord"></text>
}
else if (Model.IsFirstItem == true)
{
  <text><div class="record firstrecord"></text>
}
else
{
  <text><div class="record"></text>
}
  <a class="productImageLink" href="@Model.ProductLink">
  <div class="recordimage" style="background: transparent url('@Model.ImageUrl') no-repeat;">
  @*<img class="productThumbnail" src="@Model.ImageUrl" border="0" alt="@Model.Item.ImageFileSmallAlternateText" />*@
  </div>
  </a>
  <a class="productInfo" href="@Model.ProductLink">
  
        <img src="https://s3.amazonaws.com/illtee-web/shirt-icon.png" class="right" alt="Shirt" />
      <div class="recordname">
        @Model.Item.ProductName
      </div>
      <div class="productArtist">
        by @Model.Item.CustomProperties["Artist"]</div>


  </a>
  @*<div class="recordsku">
  <a href="@Model.ProductLink">@Model.Item.Sku</a>
  </div>
  <div class="recordprice">
  <a href="@Model.ProductLink">@Html.Raw(Model.UserPrice.DisplayPrice(true))</a>
  </div>*@
</div>

