@model MerchantTribeStore.Models.CheckoutAddressViewModel
<div class="form-section">
    <label>
        Country</label>
    <select id="@(Model.Prefix + "countryname")" name="@(Model.Prefix + "countryname")" tabindex="@(Model.TabIndex + 1)">
        @foreach (var c in Model.Countries)
        {
            if (Model.Address.CountryBvin == c.Bvin)
            {
            <option value="@c.Bvin" selected="selected">@c.DisplayName</option>      
            }
            else
            {
            <option value="@c.Bvin">@c.DisplayName</option>      
            }
        }
    </select>
</div>

<div class="form-section">

    <div class="first-name">
        <label>
            First name</label>
        <input type="text" id="@(Model.Prefix + "firstname")" name="@(Model.Prefix + "firstname")"
                                        tabindex="@(Model.TabIndex + 2)"
                                        value="@Model.Address.FirstName"
                                        class="@Model.IsErr("firstname") forminput medium" />
    </div>

    <div class="last-name">
        <label>
            Last name</label>
        <input type="text" id="@(Model.Prefix + "lastname")" name="@(Model.Prefix + "lastname")"
                                        tabindex="@(Model.TabIndex + 3)"
                                        value="@Model.Address.LastName"
                                        class="@Model.IsErr("lastname") forminput medium" />
    </div>
    <div class="clear"></div>
</div>

@*<label>
    Company</label>
<input type="text" id="@(Model.Prefix + "company")" name="@(Model.Prefix + "company")"
                                        tabindex="@(Model.TabIndex + 4)"
                                        value="@Model.Address.Company"
                                        class="@Model.IsErr("company") forminput" />*@

<div class="form-section">
    <label>
        Address</label>
    <input type="text" id="@(Model.Prefix + "address")" name="@(Model.Prefix + "address")"
                                       tabindex="@(Model.TabIndex + 5)"
                                       value="@Model.Address.Line1"
                                       class="@Model.IsErr("address") forminput" />
</div>

<div class="form-section">
    <label>
        City</label>
    <input type="text" id="@(Model.Prefix + "city")" name="@(Model.Prefix + "city")"
                                        tabindex="@(Model.TabIndex + 6)" 
                                        value="@Model.Address.City"
                                        class="@Model.IsErr("city") forminput" />
</div>

<div class="form-section">
    <label>
        State</label>
    <select id="@(Model.Prefix + "state")" name="@(Model.Prefix + "state")" tabindex="@(Model.TabIndex + 7)">
    </select>
</div>

<div class="form-section">
    <label>
        Zip code</label>
    <input type="text" id="@(Model.Prefix + "zip")" name="@(Model.Prefix + "zip")" 
                                        tabindex="@(Model.TabIndex + 8)"                                        
                                        value="@Model.Address.PostalCode" 
                                        class="@Model.IsErr("zip") forminput short" />
</div>

<div class="form-section">
    <label>
        Phone</label>
    <input type="text" id="@(Model.Prefix + "phone")" name="@(Model.Prefix + "phone")" 
                                        value="@Model.Address.Phone"
                                        tabindex="@(Model.TabIndex + 9)"
                                        class="@Model.IsErr("phone") forminput" />
</div>

<input type="hidden" id="@(Model.Prefix + "addressbvin")" name="@(Model.Prefix + "addressbvin")" value="@Model.Address.Bvin" />