@model MerchantTribeStore.Models.CheckoutViewModel
@using MerchantTribe.Payment
@{
    Layout = null;
}
@helper Years()
    {
        int baseYear = DateTime.Now.Year;
        for (int i = 0; i < 10; i++)
        {
    <option value="@(baseYear + i)" @if (Model.PaymentViewModel.DataCreditCard.ExpirationYear == (baseYear + i))
                                    {
            <text>selected="selected"</text>
                                    } >@(baseYear + i)</option>
        }
}
@helper Months()
    {
        for (int i = 1; i <= 12; i++)
        {
    <option value="@i" @if (Model.PaymentViewModel.DataCreditCard.ExpirationMonth == i)
                       {
            <text>selected="selected"</text>
                       } >@i</option>
        }
}

<div class="creditcardinput">

    <div class="form-section">
        <label>
            Name (the way it's written on your card)</label>
        <input type="text" name="cccardholder" size="20" 
                value="@Model.PaymentViewModel.DataCreditCard.CardHolderName"
                class="forminput @Model.IsErr("cccardholder")" />
    </div>

    <div class="form-section">
        <label>
            Card number (no dashes or spaces)</label>
        <input type="text" name="cccardnumber" id="cccardnumber" maxlength="20"
                    value="@Model.PaymentViewModel.DataCreditCard.CardNumber"                    
                    class="forminput @Model.IsErr("cccardnumber")" />
    </div>

    <div class="form-section">
        <label>
            Expiration date</label>
        <select name="ccexpmonth" class="@Model.IsErr("ccexpmonth")">
            <option value="0">--</option>
            @Months()
        </select>
        &nbsp;/&nbsp;
        <select name="ccexpyear" class="@Model.IsErr("ccexpyear")">
            <option value="0">----</option>
            @Years()
        </select>
    </div>

    <div>
        <label>
            Security code (3 on back, Amex: 4 on front)</label>
        <input type="text" name="ccsecuritycode" size="5" 
                maxlength="4" class="forminput @Model.IsErr("ccsecuritycode")" />
    </div>

</div>

