@model MerchantTribeStore.Models.CheckoutViewModel
@using MerchantTribe.Payment
@{
    Layout = null;
}
@functions 
{
    public bool IsAccepted(CardType ctype)
    {
        if (Model.PaymentViewModel.AcceptedCardTypes.Contains(ctype))
        {
            return true;
        }
        return false;
    }  
}
@if (Model.PaymentViewModel.NoPaymentNeeded)
{
    <input type="radio" value="nopayment" id="nopay-option" name="paymethod" checked="checked" />
    <label for="nopay-option">@Model.PaymentViewModel.NoPaymentNeededDescription</label>
}

<div id="pay-options" class="form-section">
    @if (Model.PaymentViewModel.IsCreditCardActive)
    {
    
        <input type="radio" value="creditcard" id="creditcard-option" name="paymethod" 
                @if (Model.PaymentViewModel.SelectedPayment == "creditcard")
                { <text>checked="checked"</text> }/>
        <label for="creditcard-option">
            @if (IsAccepted(CardType.Visa))
            { <span class="cc-visa"></span> }
            @if (IsAccepted(CardType.MasterCard))
            { <span class="cc-mastercard"></span> }
            @if (IsAccepted(CardType.Amex))
            { <span class="cc-amex"></span> }
            @if (IsAccepted(CardType.Discover))
            { <span class="cc-discover"></span> }
            @if (IsAccepted(CardType.DinersClub))
            { <span class="cc-diners"></span> }
            @if (IsAccepted(CardType.JCB))
            { <span class="cc-jcb"></span> }</label>
    }
    @if (Model.PaymentViewModel.IsPayPalActive)
    {
        <input type="radio" value="paypal" id="paypal-option" name="paymethod" 
                @if (Model.PaymentViewModel.SelectedPayment == "paypal")
                { <text>checked="checked"</text> }/>
        <label for="paypal-option">
            <img id="paypal-logo" src="https://www.paypal.com/en_US/i/logo/PayPal_mark_37x23.gif" alt="Pay with PayPal" /></label>
    }
    <div class="clear"></div>
</div>

@if (Model.PaymentViewModel.IsCreditCardActive)
{
    @Html.Partial("_CreditCardInput", Model)
}
@*@if (Model.PaymentViewModel.IsPurchaseOrderActive)
    {
        <tr>
            <td valign="top" class="radiobuttoncol">
                <input type="radio" value="purchaseorder" name="paymethod" 
                @if (Model.PaymentViewModel.SelectedPayment == "purchaseorder")
                { <text>checked="checked"</text> }/></td>
            <td>@Model.PaymentViewModel.PurchaseOrderDescription #: 
            <input type="text" name="ponumber" size="10" 
            value="@Model.PaymentViewModel.DataPurchaseOrderNumber" 
            class="@Model.IsErr("purchaseorder")" /></td>
        </tr>
    }
    @if (Model.PaymentViewModel.IsCompanyAccountActive)
    {
        <tr>
            <td valign="top" class="radiobuttoncol">
                <input type="radio" value="companyaccount" name="paymethod" 
                @if (Model.PaymentViewModel.SelectedPayment == "companyaccount")
                { <text>checked="checked"</text> }/></td>
            <td>@Model.PaymentViewModel.CompanyAccountDescription #: 
            <input type="text" name="accountnumber" size="10" 
            value="@Model.PaymentViewModel.DataCompanyAccountNumber" 
            class="@Model.IsErr("accountnumber")" /></td>
        </tr>
    }
    @if (Model.PaymentViewModel.IsCheckActive)
    {
        <tr>
            <td valign="top" class="radiobuttoncol">
                <input type="radio" value="check" name="paymethod" 
                @if (Model.PaymentViewModel.SelectedPayment == "check")
                { <text>checked="checked"</text> }/></td>
            <td>@Model.PaymentViewModel.CheckDescription</td>
        </tr>
    }
    @if (Model.PaymentViewModel.IsTelephoneActive)
    {
        <tr>
            <td valign="top" class="radiobuttoncol">
                <input type="radio" value="telephone" name="paymethod" 
                @if (Model.PaymentViewModel.SelectedPayment == "telephone")
                { <text>checked="checked"</text> }/></td>
            <td>@Model.PaymentViewModel.TelephoneDescription</td>
        </tr>
    }
    @if (Model.PaymentViewModel.IsCodActive)
    {
        <tr>
            <td valign="top" class="radiobuttoncol">
                <input type="radio" value="cod" name="paymethod" 
                @if (Model.PaymentViewModel.SelectedPayment == "cod")
                { <text>checked="checked"</text> }/></td>
            <td>@Model.PaymentViewModel.CodDescription</td>
        </tr>
    }*@
