@model IEnumerable<MerchantTribe.Commerce.Orders.LineItem>
<table class="line-divide" cellspacing="0">
    @foreach (var item in Model)
    {
        <tr>
            <td>

                @item.ProductName (@item.Quantity)

                @if (item.LineTotal != item.LineTotalWithoutDiscounts)
                {
                    <div class="discounts">@item.DiscountDetails</div>
                }
            </td>
            <td align="right">
                @if (item.LineTotal != item.LineTotalWithoutDiscounts)
                {
                    <strike>@item.LineTotalWithoutDiscounts.ToString("C")</strike><br />                   
                }
                @item.LineTotal.ToString("C")
            </td>
        </tr>
    }
</table>
