@model IEnumerable<MerchantTribe.Commerce.Orders.LineItem>
<table>
    <tr>
        <th>Item</th>
        <th>Qty</th>
        <th>Amount</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>

                @item.ProductName

                @if (item.LineTotal != item.LineTotalWithoutDiscounts)
                {
                    <div class="discounts">@item.DiscountDetails</div>
                }
            </td>
            <td align="center">@item.Quantity
            </td>
            <td align="right">
                @if (item.LineTotal != item.LineTotalWithoutDiscounts)
                {
                    <strike>@item.LineTotalWithoutDiscounts.ToString("C")</strike><br />                   
                }
                @item.LineTotal.ToString("C")
            </td>
        </tr>
    }
</table>
